<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TrackingCam.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TrackingCam.Properties.Settings>
            <setting name="Camera_Type" serializeAs="String">
                <value>FoscamHD</value>
            </setting>
            <setting name="Camera_Url" serializeAs="String">
                <value>http://192.168.241.14:88</value>
            </setting>
            <setting name="Camera_Username" serializeAs="String">
                <value>admin1</value>
            </setting>
            <setting name="Camera_Password" serializeAs="String">
                <value>admin1</value>
            </setting>
            <setting name="Tracking_Distance" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Tracking_ObjectKey" serializeAs="String">
                <value>Tag1</value>
            </setting>
            <setting name="Tracking_CameraX" serializeAs="String">
                <value>3.23816204071045</value>
            </setting>
            <setting name="PTZ_PresetPrefix" serializeAs="String">
                <value>Preset</value>
            </setting>
            <setting name="PTZ_PresetCount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="PTZ_MinPanAngle" serializeAs="String">
                <value>-25</value>
            </setting>
            <setting name="PTZ_MaxPanAngle" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="Tracking_CameraY" serializeAs="String">
                <value>6.20297193527222</value>
            </setting>
            <setting name="Tracking_CameraZ" serializeAs="String">
                <value>-0.714946579840356</value>
            </setting>
        </TrackingCam.Properties.Settings>
    </userSettings>
</configuration>