<?xml version="1.0" encoding="utf-8" ?>

<!--
Project: TrackingCam (http://TrackingCam.codeplex.com)
File: App.config
Version: 20151127
-->

<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TrackingCam.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <runtime>
    <legacyUnhandledExceptionPolicy enabled="1"/>
  </runtime>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <userSettings>
    <TrackingCam.Properties.Settings>
      <setting name="Camera_Type" serializeAs="String">
        <value>FoscamHD</value>
      </setting>
      <setting name="Camera_Url" serializeAs="String">
        <value>http://192.168.241.14:88</value>
      </setting>
      <setting name="Camera_Username" serializeAs="String">
        <value>admin1</value>
      </setting>
      <setting name="Camera_Password" serializeAs="String">
        <value>admin1</value>
      </setting>
      <setting name="Tracking_Distance" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Tracking_ObjectKey" serializeAs="String">
        <value>Tag1</value>
      </setting>
      <setting name="Pan_Angle_Step" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="Tilt_Angle_Step" serializeAs="String">
        <value>90</value>
      </setting>
    </TrackingCam.Properties.Settings>
  </userSettings>

</configuration>